altair==4.1.0
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-generator==1.10
attrs==22.1.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bleach==4.1.0
blinker==1.5
cachetools==4.2.4
certifi==2021.5.30
cffi==1.15.1
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
commonmark==0.9.1
contextlib2==21.6.0
# contextvars==2.4
# cycler==0.11.0
# Cython
# dataclasses==0.8
# decorator==4.4.2
# defusedxml==0.7.1
einops==0.4.1
entrypoints==0.4
fastapi==0.82.0
filelock==3.4.1
gdown==4.5.1
gitdb==4.0.9
GitPython==3.1.18
googledrivedownloader==0.4
idna==3.3
imageio==2.15.0
imgaug==0.4.0
immutables==0.18
importlib-metadata==4.8.3
importlib-resources==5.4.0
imutils==0.5.4
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.7.2
isodate==0.6.1
jedi==0.17.2
Jinja2==3.0.3
joblib==1.1.0
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.1
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.3.4
mistune==0.8.4
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.5
networkx==2.5.1
notebook==6.4.10
numpy==1.19.5
opencv-python==4.6.0.66
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.0
parso==0.7.1
pickleshare==0.7.5
Pillow==8.4.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.19.4
pyarrow==6.0.1
pycocotools
pycparser==2.21
pydantic==1.9.2
pydeck==0.6.2
Pygments==2.13.0
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.1.1
# pywin32==304
# pywinpty==1.1.6
PyYAML==6.0
requests==2.27.1
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
streamlit
torch==1.10.2
torch-geometric==2.0.3
torchvision==0.11.3
tqdm==4.64.0

